body
{
    color: rgb(21, 57, 98);
    text-align: center;
    font-family: "Courier";
    
}

#container{
   border: 1px dashed rgb(26, 60, 184);
   margin: 10px;
   padding: 15px;
}

#post{
    font-size: 20px;
}

p {
    font-size: 30px;
}